$custom-color-1: #c6538c;
$notes-color: #ff0000;

.c-brown {
  color: $custom-color-1;
}

.c-notes {
  color: $notes-color;
}

$flag-border-thick: 1px;
$flag-border-style: solid;
$flag-border-color: #808080;
$flag-max-width: 50px;

.c_flag {
  border: $flag-border-thick $flag-border-style $flag-border-color;
  max-width: $flag-max-width;
}

nav {
  .c_dropdown {
    min-width: inherit;
    float: left !important;
  }
}

/* Highcharts - begin */
#container {
  height: 400px;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table {
  table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
  }

  caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
  }

  th {
    font-weight: 600;
    padding: 0.5em;
  }

  td, th, caption {
    padding: 0.5em;
  }

  thead tr, tr:nth-child(even) {
    background: #f8f8f8;
  }

  tr:hover {
    background: #f1f7ff;
  }
}
/* Highcharts - end */
