$custom-color-1: #c6538c;
$notes-color: #ff0000;

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.c-brown {
    color: $custom-color-1;
}

.c-notes {
    color: $notes-color;
}
