<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="JwtSecretInBase64" value="wcxC0XSTT8sFKqXXP3Z7YkXjvLE8rpdZNYkYOaDbBgwl/tR863/eXruAj52IhgZO+v6SUaM4qxI16JzqehUqKQ==" />
  </appSettings>
</configuration>