@{
    ViewBag.Title = "Login";
}
<h1>@ViewBag.Title</h1>
<form action="@Url.Action("Index", "Login")" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="username" />
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="check">
        <label class="form-check-label" for="exampleCheck1">Check me out <span class="c-notes">(not implemented yet)</span></label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div>
    <span>Not have an account? @Html.ActionLink("Click here", "Register", "Login") to register one.</span>
</div>